* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

header {

    nav {

        .container-fluid {
            background-color: #699019;
        }

        .container-fluid .navbar-toggler-icon {
            padding: 20px;
        }

        .header__logo {
            height: 10rem;
        }

        .offcanvas-header {
            background-color: #699019;
        }

    }

    ul {

        a,
        .dropdown-toggle {
            text-transform: uppercase;
            text-decoration: none;
            font-family: cursive;
            padding: 0.5rem;
            margin-left: 2rem;

            &#link__blanco {
                color: #000;
                font-size: 18px;
            }

            &#link__blanco:hover {
                color: whitesmoke;
                text-decoration: underline solid;

            }
        }

        .dropdown-toggle {
            color: #000;
            font-size: 18px;
            cursor: pointer;
            display: block;
            position: relative;
            transition: all 0.4s ease-out;
        }

        .dropdown-toggle:hover{
            background-color: orange;
        }

        .accordion-menu {
            max-height: 350px;
            margin: 100pxx auto 20px;
            border-radius: 8px;
            overflow: hidden;
        }

        .submenu-items{
            display: none;
            background-color: #699019;
        }

        .accordion-menu li .submenu-items{
            display: block;
        }

        .submenu-items a{
            display: block;
            transition: all 0.2s ease-out;
        
        }
    }

    img {
        max-width: 100%;
        height: 10rem;
    }
}